.Contact-form{
  padding: 5rem;
}
.Contact-form iframe{
  width: 100%;
  border: 10px solid black;
}
.Contact-form .location{
  border-radius: 5px;
  border-top: 10px solid black;
}
.Contact-form  .content{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1.8fr;
  padding: 20px;
  gap: 50px;
}

.Contact-form  .content .left-side{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  text-align: center;

}
.Contact-form  .content .left-side .details{
  border: 2px solid #825e09;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  display: grid;
  place-items: center;
}

.Contact-form  .content .left-side .details .topic{
  font-size: 2.5rem;
  color: black;
  font-weight: 600;
}
.Contact-form  .content .left-side .details i{
  font-size: 4rem;
  color: brown;
  font-weight: 600;
  
}

.Contact-form  .content .left-side .details .text a{
  padding: 5px;
  display: block;
  color: black;
  font-size: 2rem;
}

.Contact-form  .content .right-side{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}
.Contact-form  .content .right-side .top{
  padding: 20px;
  margin: auto;
 box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}
.Contact-form  .content .right-side .top h1{
  color: black;
  font-size: 40px;
}

.Contact-form  .content .right-side .form{
  width: 400px;
  height: 600px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr 1.8fr 1fr;
  background: #d8d8e8;

}

.Contact-form  .content .right-side .form .info {
  display: grid;
  grid-template-columns: 1.8fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.Contact-form  .content .right-side .form .info .info-box label{
  font-size: 2rem;
  color: #000;
}

.Contact-form  .content .right-side .form .info .info-box input{

  width: 350px;
  height:50px;
  border: none;
  padding: 10px;
  
}
.Contact-form  .content .right-side .form .info .info-box input:invalid{
    animation: shake .3s;
}
.Contact-form  .content .right-side .form .info .info-box input:after{
  border: none;
}

.Contact-form  .content .right-side .form .info .info-box{
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  gap: 10px;
}
.Contact-form  .content .right-side .form .info .subject{
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  gap: 10px;
}

.Contact-form  .content .right-side .form .message {
  margin-top: 3%;
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  
}
.Contact-form  .content .right-side .form .message label{
   font-size: 2rem;
  color: #000;
}
.Contact-form  .content .right-side .form .message textarea{
  width: 350px;
  height: 100px;
  border: none;
  padding: 10px;
}
.Contact-form  .content .right-side  .top h1{
  font-size: 4rem;
}
.Contact-form  .content .right-side  .top p{
  font-size: 1.5rem;
}

.Contact-form  .content .right-side  .btn{
  width: 180px;
}
@media (max-width: 768px){
  .Contact-form{  
   padding: 2rem;
  } 
}


@media (max-width: 1115px){
  .Contact-form{
  padding: 2rem;
} 

}

@media (max-width: 868px){

.Contact-form  .content .left-side{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

}
.Contact-form  .content .right-side{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 1fr 1.8fr;
  gap: 50px;
  padding: 0px;

}

}


@media (max-width: 568px){
  
  .Contact-form  .content .left-side{

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
 
}
.Contact-form  .content .right-side .form{
  width: 300px;
  height: 750px;
 
}

.Contact-form  .content .right-side .form .info .info-box input{

  width: 250px;
  height:50px;
  border: none;
  padding: 10px;
  
}
.Contact-form  .content .right-side .form .message textarea{
  width: 250px;
  height: 200px;
  border: none;
  padding: 10px;
}
.Contact-form  .content .right-side  .top h1{
  font-size: 3rem;
}
.Contact-form  .content .right-side  .top p{
  font-size: 1.5rem;
}

}






@keyframes shake {
  25%{ transform: translateX(4px); }
  50%{ transform: translateX(-4px); }
  75%{ transform: translateX(4px); }
}