@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: blue;
  padding: 10px 40px 10px 70px;
  border: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  margin-right: 40%;
  padding: 10px 25px;
  display: inline-flex;
}

nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 0 40px;
}
nav ul div.items a:hover{
  color: cyan;
}
nav ul div.items .search-icon{
  height: 38px;
  width: 240px;
  border: none;
  display: flex;
  background: #fff;
  border-radius: 20px;
}
nav ul div.items .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: black;
  font-size: 16px;
  border-radius: 30px;

}
nav ul div.items .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-radius: 30px;
}
nav ul div.items .search-icon .icon:hover{
  background: #e6e6e6;
}
nav ul div.items .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
nav ul .admin a{
  font-size: 17px;
  font-weight: 600;

}
nav ul .admin a i{
  font-size: 25px;
}

@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 40px 10px 0px;
  }
  nav ul li.logo{
    display: none;
  }
  nav ul div.items{
    flex: 4;
  }
}

/*
@media screen and (max-width: 800px){
  nav ul li.btn{
    display: block;
  }
  nav{
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #222222;
    display: inline-block;
    transition: top .4s;
  }
  nav ul div.items.show{
    top: 60px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
}




@media screen and (max-width: 405px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 40px;
  z-index: -2;
}
.content .text{
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0;
  color: #202020;
}
.content .p{
  font-size: 28px;
  font-weight: 600;
  color: #202020;
}



*/
.service-list{
  display: flex;
  margin-left: 25%;
  margin-top: 10%;
  gap: 30px;
  align-content: center;
}
.service-list .service-card{
 box-sizing: border-box;
 color: black;
 box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.3);
 padding: 15px 10px;
 border-radius: 15px;
}
.service-list .service-card p{
  text-align: center;
  padding: 5px 5px;
  font-size: 16px;
  align-content: center;
  color: black;
}
.service-list .service-card h3{
  text-align: center;
  color: black;
  font-size: 20px;
}
.service-list .service-card .card-icon{
  text-align: center;
}
.btn{
  margin-left: 40%;
  margin-top: 3%;
}
.btn button{
  width: 200px;
  border-radius: 25px;
  height: 50px;
  background: blue;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  }
.btn button:hover{
 box-shadow: 0 0 5px 5px hsla(220, 63%, 33%, 0.3);

}