.Contact-form{
  padding: 50px 100px 50px 150px;
}
.Contact-form iframe{
  width: 100%;
  border: 10px solid black;
}
.Contact-form .location{
  border-radius: 5px;
  border-top: 10px solid black;
}
.Contact-form  .content{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1.8fr;
  padding: 20px;
  gap: 50px;
}

.Contact-form  .content .left-side{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
  text-align: center;
}

.Contact-form  .content .left-side .details{
  padding: 20px 0;
  border-radius: 5px;
}

.Contact-form  .content .left-side .details i{
  font-size: 40px;
  color: brown;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Contact-form  .content .left-side .details .text{
  color: black;
}
.Contact-form  .content .left-side .details .text a{
  padding: 10px;
  display: block;
  color: black;
}
.Contact-form  .content .left-side .details .topic{
  color: black;
  font-weight: 600;
}
.Contact-form  .content .right-side{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 600px);
}
.Contact-form  .content .right-side .top{
     position: relative;
    width: 100%;
    height: 100%;

}
.Contact-form  .content .right-side .top img{
  width: 100%;
  height: 100%;
}
.Contact-form  .content .right-side .form{

 
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr 1.8fr 1fr;
  background: #d8d8e8;
  place-items: center;

}

.Contact-form  .content .right-side .form .info {
  display: grid;
  grid-template-columns: 1.8fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.Contact-form  .content .right-side .form .info .info-box label{
  font-size: 15px;
  color: #000;
}

.Contact-form  .content .right-side .form .info .info-box input{

  width: 350px;
  height:50px;
  border: none;
  padding: 10px;
  
}
.Contact-form  .content .right-side .form .info .info-box input:invalid{
    animation: shake .3s;
}
.Contact-form  .content .right-side .form .info .info-box input:after{
  border: none;
}

.Contact-form  .content .right-side .form .info .info-box{
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  gap: 10px;
}
.Contact-form  .content .right-side .form .info .subject{
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  gap: 10px;
}

.Contact-form  .content .right-side .form .message {
  margin-top: 3%;
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  
}
.Contact-form  .content .right-side .form .message textarea{
  width: 350px;
  height: 100px;
  border: none;
  padding: 10px;
}

.Contact-form  .content .right-side .form .btn{
 margin-top: 5%;
}

@media (max-width: 768px){
  .Contact-form{  
    padding: 0 50px 0 100px;
  } 
}


@media (max-width: 1115px){
  .Contact-form{
  padding: 50px 50px 50px 120px;
} 
.Contact-form  .content .right-side .top h1{
  color: black;
  font-size: 20px;
}
}

@media (max-width: 868px){

.Contact-form  .content .left-side{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

}
.Contact-form  .content .right-side{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
   grid-template-rows:repeat(2, 1fr);
  
  padding: 0px;

}

}

@media (max-width: 668px){
  .Contact-form{
  padding: 50px 40px 50px 90px;
} 
}

@media (max-width: 568px){
  .Contact-form{  
    padding: 20px;
  }
  .Contact-form  .content .left-side{

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
 
}
.Contact-form  .content .right-side .form{
  width: 300px;
  height: 750px;
 
}

.Contact-form  .content .right-side .form .info .info-box input{

  width: 250px;
  height:50px;
  border: none;
  padding: 10px;
  
}
.Contact-form  .content .right-side .form .message textarea{
  width: 250px;
  height: 200px;
  border: none;
  padding: 10px;
}
}






@keyframes shake {
  25%{ transform: translateX(4px); }
  50%{ transform: translateX(-4px); }
  75%{ transform: translateX(4px); }
}




.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;

}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.accordion-item-body-content div{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}
@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}
@media(max-width:1300px) {
  .accordion {
  padding-left: 100px;
  
}
 
}
@media(max-width:568px) {
  .accordion {
  padding-left: 0px;
  
}
 .accordion-item-body-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /*place-items: center;*/
}
}